<header class="">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
            <a class="navbar-brand" href="#">
               <span class="text-primary">Eli</span>Heist
            </a>
            <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#mainNav"
            >
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
               <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'main:home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'blog:blog-list' %}">Blog</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'projects:project-list' %}">Projects</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link fw-bold text-primary" href="contact.html">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
</header>